<div class="card p-3 mt-3">
    <div class="card-body">
        <h4 class="card-title">{{ entity.titre }}</h4>
        <div class="card-text text-start">
            {{ entity.contenu|striptags|raw }}
        </div>
    </div>
</div>
