<div class="card p-3 mt-3">
    <div class="card-body">
        <h4 class="card-title">{{ entity}}</h4>
        <p class="card-text">
            L’ONG KAGNINMIN a pour objet d’une part, de mener des actions tendant à faire
            découvrir et valoriser le riche patrimoine
            culturel et touristique de la Côte d’Ivoire tant au niveau national, régional
            qu’international et d’autre part, à mener
            tous types d’actions au niveau social, économique et environnemental ayant pour but
            l’amélioration des conditions de
            vies des populations.
        </p>
    </div>
</div>
