<div class="kakemono text-center">
    <img src="{{ absolute_url(asset('uploads/apropos/' ~ illustration.media)) }}" alt="{{ illustration.titre }}" class="img-fluid" data-parallax="-2" loading="lazy">
</div>
