
<div class="card h-100 card-brown border-0 rounded-3 p-3 mt-3">
    <div class="card-body">
        <h4 class="color-terra-dark fs-2">{{ mission.titre }}</h4>
        <div class="page-content">
            {{ mission.contenu|raw }}
        </div>
    </div>
</div>
