
<div class="card card-brown border-0 p-3 mt-3">
    <div class="card-body">
        <h4 class="color-terra-dark fs-2">Nos valeurs</h4>
        <div class="page-content">
            Dignité humaine, inclusion, transparence, solidarité et ancrage communautaire.

        </div>
    </div>
</div>
