
<div class="card card-brown border-0 p-3 mt-3">
    <div class="card-body">
        <h4 class="color-terra-dark fs-2">{{ valeur.titre }}</h4>
        <div class="page-content">
            {{ valeur.contenu|striptags|raw }}
        </div>
    </div>
</div>
