<div class="card card-brown border-0 p-3 mt-3">
    <div class="card-body">
        <h4 class="color-terra-dark fs-2">Notre vision</h4>
        <div class="page-content">
            Une Côte d'Ivoire où chaque femme et jeune fille vit dans la dignité, la liberté et
            l'égalité des chances.

        </div>
    </div>
</div>
