<div class="field-text-editor">
    <blockquote style="border-left: 5px solid #D4A017; padding-left: 15px; font-style: normal; text-align: justify">
        {{ field.value|raw }}
    </blockquote>
</div>
